@import "tailwindcss";

:root {
  --font-italiana: "Italiana", serif;
  --font-montserrat: "Montserrat", sans-serif;
}

body {
  font-family: var(--font-montserrat);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* LIV-style hover underline (purple) */
.nav-link {
  position: relative;
  padding-bottom: 10px;
  color: white;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 2px;
  height: 2px;
  width: 0%;
  background: #7c3aed;
  transition: width 0.25s ease;
}

.nav-link:hover::after {
  width: 100%;
}
